<SCRIPT LANGUAGE="JavaScript">


        alert("Movie Recommendation System Web App developed by Sankha Subhra Mondal");


    </SCRIPT>

{% extends "base.html" %}

{% block section %}
<br>
 <h2 class="text-danger text1">Search For a Movie & Gets Recommendations</h2>
						<form action="/recommendation", method="post">
                            <input type="text" name="name" class="form-control"><br>
							<input type="submit" value="Search" class="btn bg_background btn-lg btn-block text-light">

						</form>
{% endblock %}