<SCRIPT LANGUAGE="JavaScript">


        alert("Click on the movie name to see it in IMDB");


    </SCRIPT>
{% extends "base.html" %}

{% block show %} <h1> Movie Name : <span class="text-danger"> {{ mov_name }}</span>  </h1> {% endblock %}



{% block res1 %}


<table border="1" width="100%">


    <tr>

        <th><h3>Based On Content Filtering:</h3></th>
    </tr>
    {% for r in rec %}
    <tr>

       <td><h5><a class="text-warning" href="https://www.imdb.com/find?q={{r}}&ref_=nv_sr_sm">{{r}}</a></h5></td>

    </tr>

    {% endfor %}
</table>


{% endblock %}





